.mcqBox(id=question.id, data-config=JSON.stringify(question))
	.container-fluid
		h5
			b!=question.title
		br
		label.radio-inline
			input(name=question.id+"_group", type="radio", value="a", checked="checked")
			b A.   
			| #{question.option['a']}
		br
		label.radio-inline
			input(name=question.id+"_group", type="radio", value="b")
			b B.   
			| #{question.option['b']}
		br
		label.radio-inline
			input(name=question.id+"_group", type="radio", value="c")
			b C.   
			| #{question.option['c']}
		br
		label.radio-inline
			input(name=question.id+"_group", type="radio", value="d")
			b D.   
			| #{question.option['d']}
		br
		br
		button.btn.btn-success.submitMCQ
			b Submit
		.MCQmessage
		br
		br