blockquote
	b Q: #{question.title}
	br
	if(question.hint)
		small Hint: #{question.hint}
	br
	br

	-var alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
	-var ans
	ul
		each option, i in question.option
			li #{alphabet[i]+'. '+option.body}

			if option.id === question.ans
				-ans=alphabet[i]

	small Ans: #{ans}